{% extends "admin/newbase.html" %}
{% load i18n %}
{% load botsfilters %}

{% block content %}
    <input onClick="history.back()" type="button" class="btn btn-secondary" value="{% trans 'Back' %}" />
    <table>
        <tr><td>{% trans 'Date/time' %}</td><td class="nowrap">{{rootta.ts|date:"Y-m-d H:i:s"}}</td></tr>
        <tr><td>{% trans 'Status' %}</td><td>{{rootta.get_statust_display}}</td></tr>
        <tr><td>{% trans 'Route' %}</td><td>{{rootta.idroute}}</td></tr>
</table>
  <div class="table-responsive-xl">
    <table class="table table-striped table-hover table-sm" id="botstable">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Phase' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Status' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'File' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans '#mes' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Editype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Messagetype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Channel' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'FromPartner' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'ToPartner' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Reference' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Size' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Error' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Charset' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Contenttype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Alt' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Mapping' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Test' %}</button></th>
            </tr>
        </thead>
        <tbody>
        {% for row in detaillist %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td style="white-space:nowrap;">{{row.ind}}</td>
                <td>{{row.get_status_display}}</td>
                <td>{{row.get_statust_display}}</td>
                <td><a href="/filer/?action=this&amp;idta={{row.idta}}" target="_blank" class="botslink" title="{{row.filename}}">{{row.filename|shortpath}}</a></td>
                <td>{{row.nrmessages}}</td>
                <td style="white-space:nowrap;">{{row.editype}}</td>
                <td style="white-space:nowrap;">{{row.messagetype}}</td>
                <td style="white-space:nowrap;">{{row.channel}}</td>
                <td style="white-space:nowrap;">{{row.frompartner}}</td>
                <td style="white-space:nowrap;">{{row.topartner}}</td>
                <td>{{row.reference}}</td>
                <td style="white-space:nowrap;">{% if row.filesize %}{{row.filesize|filesizeformat}}{% endif %}</td>
                <td style="white-space: pre;">{{row.errortext}}</td>
                <td>{{row.charset}}</td>
                <td>{{row.contenttype}}</td>
                <td>{{row.alt}}</td>
                <td>{{row.divtext}}</td>
                <td>{{row.testindicator}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>    
{% endblock %}

