{% extends "admin/newbase.html" %}
{% load i18n %}
{% load botsfilters %}

{% block content %}
<br>
<form action="{{ form.action }}" method="post">{% csrf_token %}
    <input onClick="history.back()" class="btn btn-secondary" type="button" value="{% trans 'Back' %}" />
    <input type="submit" name="2select" class="btn btn-secondary" value="{% trans 'Change selection' %}" />
    <input type="submit" name="2outgoing" class="btn btn-secondary" value="{% trans 'Outgoing (same selection)' %}" />
    <input type="submit" name="2process" class="btn btn-secondary" value="{% trans 'Process Errors (same selection)' %}" />
    <input type="submit" name="2confirm" class="btn btn-secondary" value="{% trans 'Confirm (same selection)' %}" />
    <input type="submit" name="rereceiveall" class="btn btn-secondary" value="{% trans 'Rereceive All' %}" />
    {% include "bots/paginator.html" %}
    <div class="table-responsive-xl">
    <table class="table table-striped table-hover table-sm" id="botstable">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="statust" >{% trans 'Status' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="retransmit" >{% trans 'Rereceive' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="ts" >{% trans 'Date/time' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="idroute" >{% trans 'Route' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="fromchannel" >{% trans 'FromChannel' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="infilename" >{% trans 'InFile' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="ineditype" >{% trans 'InEditype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="inmessagetype" >{% trans 'InMessagetype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="nrmessages" >{% trans '#mes' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="filesize" >{% trans 'Size' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="tochannel" >{% trans 'ToChannel' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="outfilename" >{% trans 'OutFile' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="outeditype" >{% trans 'OutEditype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="outmessagetype" >{% trans 'OutMessagetype' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="frompartner" >{% trans 'FromPartner' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="topartner" >{% trans 'ToPartner' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="errortext" >{% trans 'Error' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="divtext" >{% trans 'MappingScript' %}</button></th>
	    </tr>
	</thead>
	<tbody>
        {% for row in queryset.object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="action" src="/media/images/star.png"  width="12" height="12"/>
                            </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" onclick="document.location.href='/detail/?inidta={{row.idta}}'; return false;" >{% trans 'View detail' %}</button>
                            <button class="dropdown-item" type="submit" name="retransmit" value="{{row.idta}}" >{% trans 'Rereceive' %}</button>
                            <button class="dropdown-item" type="submit" name="delete" value="{{row.idta}}" >{% trans 'Delete file' %}</button>
                        </div>
                    </div>
                </td>
                <td>{{ row.get_statust_display}}</td>
                <td><input disabled="True" type="checkbox" {% if row.retransmit %}checked{% endif %}/></td>
                <td style="white-space:nowrap;">{{row.ts|date:"Y-m-d H:i:s" }}</td>
                <td style="white-space:nowrap;">{{row.idroute}}</td>
                <td style="white-space:nowrap;">{{row.fromchannel}}</td>
                <td><a href="/filer/?action=this&amp;idta={{row.idta}}" target="_blank" class="botslink" title="{{row.infilename}}" >{{row.infilename|shortpath}}</a></td>
                <td style="white-space:nowrap;">{{row.ineditype}}</td>
                <td style="white-space:nowrap;">{{row.inmessagetype}}</td>
                <td>{{row.nrmessages}}</td>
                <td style="white-space:nowrap;">{% if row.filesize %}{{row.filesize|filesizeformat}}{% endif %}</td>
                <td style="white-space:nowrap;">{{row.tochannel}}</td>
                <td>{% if row.outfilename == '(several values)' %}
                        <a href="/detail/?inidta={{row.idta}}" class="botslink">{{row.outfilename}}</a>
                    {% else %}
                        <a href="/filer/?action=this&amp;idta={{row.outidta}}" target="_blank" class="botslink" title="{{row.outfilename}}">{{row.outfilename|shortpath}}</a>
                    {% endif %}</td>
                <td style="white-space:nowrap;">{{row.outeditype}}</td>
                <td style="white-space:nowrap;">{{row.outmessagetype}}</td>
                <td style="white-space:nowrap;">{{row.frompartner}}</td>
                <td style="white-space:nowrap;">{{row.topartner}}</td>
                <td style="white-space: pre;">{{row.errortext}}</td>
                <td style="white-space:nowrap;">{{row.divtext}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</form>
{% endblock %}


