{% extends "admin/newbase.html" %}
{% load i18n %}
{% block content %}

{% if error_content %} 
    {{ error_content }} 
{% else %}
<br>
    <div class="table-responsive-xl">
        <table class="table table-bordered table-striped table-sm" id="log">
            <tr>
                <td><b>logfiles</b></td>
                <td><b>{{ log }}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-link" href="/logfiler/?log={{ log }}&amp;action=download">{% trans 'Download' %}</a></td>
            </tr>
            <tr>
                <td valign="top" style="white-space:nowrap;">
                    {% for file in logfiles %}
                        <a class="btn btn-secondary w-100 p-1 m-1" href="/logfiler/?log={{ file }}">{{ file }}</a><br>
                    {% endfor %}
                </td>
                <td valign="top" colspan="2">
                    <pre>{{ logdata }}</pre>
                </td>
            </tr>
        </table>
    <div>
{% endif %}
{% endblock %} 
