{% extends "admin/newbase.html" %}
{% load i18n %}
{% block content %}

{% if error_content %} 
    {{ error_content }} 
{% else %}
<br>
<div style="display: flex; max-height: 400px;">
    <div style="flex: 0 0 200px;"> <!-- Fixed width for the button column -->
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th><b>Log Files</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="white-space: nowrap;">
                        {% for file in logfiles %}
                            <a class="btn btn-secondary w-100 p-1 m-1" href="/logfiler/?log={{ file }}&error={{ errorlog }}">{{ file }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="flex-grow: 1; overflow-y: auto;">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th><b>{{ log }}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-link" href="/logfiler/?log={{ log }}&action=download">{% trans 'Download' %}</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <pre>{{ logdata }}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div style="display: flex; max-height: 400px;">
    <div style="flex: 0 0 200px;"> <!-- Fixed width for the button column -->
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th><b>Error Files</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="white-space: nowrap;">
                        {% for file in errorfiles %}
                            <a class="btn btn-secondary w-100 p-1 m-1" href="/logfiler/?log={{ log }}&error={{ file }}">{{ file }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="flex-grow: 1; overflow-y: auto;">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th><b>{{ errorlog }}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-link" href="/logfiler/?error={{ errorlog }}&action=download">{% trans 'Download' %}</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <pre>{{ errdata }}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
