{% extends "admin/newbase.html" %}
{% load i18n %}

{% block content %}
<br>
<form action="{{ form.action }}" method="post">{% csrf_token %}
    <input onClick="history.back()" class="btn btn-secondary" type="button" value="{% trans 'Back' %}" />
    <input type="submit" class="btn btn-secondary" name="2select" value="{% trans 'Change selection' %}" />
    <input type="submit" class="btn btn-secondary" name="2incoming" value="{% trans 'Incoming (same selection)' %}" />
    <input type="submit" class="btn btn-secondary" name="2outgoing" value="{% trans 'Outgoing (same selection)' %}" />
    {% include "bots/paginator.html" %}

    <div class="table-responsive-xl">
    <table class="table table-striped table-hover table-sm" id="botstable">    
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="status" >{% trans 'State' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="idroute" >{% trans 'Route' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="ts" >{% trans 'Date/time' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="fromchannel" >{% trans 'FromChannel' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="tochannel" >{% trans 'ToChannel' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="filename" >{% trans 'Process' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="errortext" >{% trans 'Error' %}</button></th>
	    </tr>
        </thead>
        <tbody>
        {% for row in queryset.object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown">
                        <img class="action" src="/media/images/star.png"  width="12" height="12"/>
                    </div>
                </td>
                <td style="white-space:nowrap;">{{row.get_statust_display}}</td>
                <td style="white-space:nowrap;">{{row.idroute}}</td>
                <td style="white-space:nowrap;">{{row.ts|date:"Y-m-d H:i:s"}}</td>
                <td style="white-space:nowrap;">{{row.fromchannel}}</td>
                <td style="white-space:nowrap;">{{row.tochannel}}</td>
                <td style="white-space:nowrap;">{{row.filename}}</td>
                <td style="white-space: pre;">{{row.errortext}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</form>
{% endblock %}

