{% extends "admin/newbase.html" %}
{% load i18n %}


{% block content %}
<br>
<form action="{{ form.action }}" method="post">{% csrf_token %}
    <input onClick="history.back()" class="btn btn-secondary" type="button" value="{% trans 'Back' %}" />
    <input type="submit" class="btn btn-secondary" name="2select" value="{% trans 'Change selection' %}" />
    {% include "bots/paginator.html" %}

    <div class="table-responsive-xl">
    <table class="table table-striped table-hover table-sm" id="botstable">    
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="status" >{% trans 'State' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="type" >{% trans 'Type' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="lastreceived" >{% trans '#in' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="send" >{% trans '#out' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" type="submit" name="order" value="ts" >{% trans 'Date/time' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Size' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Error' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Commandline' %}</button></th>
                <th scope="col"><button class="btn btn-secondary" >{% trans 'Acceptance' %}</button></th>
	    </tr>
        </thead>
        <tbody>
        {% for row in queryset.object_list %}
            <tr  class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="action" src="/media/images/star.png"  width="12" height="12"/>
                            </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="submit" name="report2incoming" value="{{row.idta}}" >{% trans 'View incoming' %}</button>
                            <button class="dropdown-item" type="submit" name="report2outgoing" value="{{row.idta}}" >{% trans 'View outgoing' %}</button>
                            <button class="dropdown-item" type="submit" name="report2process" value="{{row.idta}}" >{% trans 'View process errors' %}</button>
                            <button class="dropdown-item" type="submit" name="report2errors" value="{{row.idta}}" >{% trans 'View file errors' %}</button>
                            <button class="dropdown-item" type="submit" name="report2commerrors" value="{{row.idta}}" >{% trans 'View out-communication errors' %}</button>
                        </div>
                    </div>
                </td>
                <td>{% if row.status %}
                        {% if row.lasterror or row.lastok or row.lastopen %}
                            <img src="/media/admin/img/icon_error.gif" style="width: 1em;"/>
                        {% else %}
                            <img src="/media/admin/img/icon_alert.gif" style="width: 1em;"/>
                        {% endif %}
                    {% else %}
                        <img src="/media/admin/img/icon_success.gif" style="width: 1em;"/>
                    {% endif %}
                </td>
                <td style="white-space:nowrap;">{{row.type}}</td>
                <td style="white-space:nowrap;">{{row.lastreceived}}</td>
                <td style="white-space:nowrap;">{{row.send}}</td>
                <td style="white-space:nowrap;">{{row.ts|date:"Y-m-d H:i:s"}}</td>
		<td style="white-space:nowrap;">{% if row.filesize %}{{row.filesize|filesizeformat}}{% endif %}</td>
                <td>
                    {% if row.lasterror %}
                        {{row.lasterror}} {% trans 'files with errors' %}; 
                    {% endif %}
                    {% if row.lastok %}
                        {{row.lastok}} {% trans 'files got stuck' %}; 
                    {% endif %}
                    {% if row.lastopen %}
                        {{row.lastopen}} {% trans 'system errors' %}; 
                    {% endif %}
                    {% if row.processerrors %}
                        {{row.processerrors}} {% trans 'errors in processes' %}; 
                    {% endif %}
                </td>
                <td>{{row.rsrv1}}</td>
                <td>{% if row.acceptance %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</form>
{% endblock %}
